$breakpoint     : 1023;
$baseTextColor  : #000;
$baseLineHeight : 1.0;
$baseFontFamily : 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

@import 'utilities/easing';
@import 'utilities/mediaquery';
@import 'utilities/googlefonts';
@import 'utilities/vw';
@import 'utilities/triangle';
@import 'utilities/cross';
@import 'utilities/loading';