footer {
    width: 100vw;
    position: relative;
    .footer_container {
        width: 100%;
        background-color: #f0f0f0;
        @include vw('padding-top', 80, 1366, 1366, 1023);
        @include vw('padding-bottom', 60, 1366, 1366, 1023);
        @include SP {
            padding: 0;
        }

        .footer_list_pc {
            max-width: 1280px;
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            
            .list {

                &:nth-child(1) {
                    width: calc((224 / 1200) * 100%);
                }
                &:nth-child(2) {
                    width: calc((224.5 / 1200) * 100%);
                }
                &:nth-child(3) {
                    width: calc((225.5 / 1200) * 100%);
                }
                &:nth-child(4) {
                    width: calc((224 / 1200) * 100%);
                }
                &:nth-child(5) {
                    width: calc((225.5 / 1200) * 100%);
                }

            }

            .parent {
                .parent_name {
                    @include vw('padding-bottom', 18, 1366, 1366, 1023);
                    border-bottom: 1px solid #cccccc;
                    a {
                        @include vw('font-size', 16, 1366, 1366, 1023);
                        color: #333333;

                        &:hover {
                            color: #666666;
                        }
                    }

                    &.no_child {
                        @include vw('margin-bottom', 70, 1366, 1366, 1023);
                    }
                }

                .child {
                    @include vw('padding-top', 18, 1366, 1366, 1023);
                    display: flex;
                    flex-direction: column;
                    @include vw('row-gap', 27, 1366, 1366, 1023);
                    .child_name {
                        a {
                            @include vw('font-size', 13, 1366, 1366, 1023);
                            color: #666666;

                            &:hover {
                                color: #cccccc;
                            }
                        }
                    }
                }

                .extension_icon {
                    position: relative;
                    @include vw('padding-right', 22, 1366, 1366, 1023);
                    &::after {
                        content: "";
                        background-image: url('/assets/img/img_pc/header_and_footer/extension_icon.png');
                        background-size: cover;
                        @include vw('height', 13, 1366, 1366, 1023);
                        @include vw('width', 13, 1366, 1366, 1023);
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

        }

        .footer_list_sp {
            padding-left: 20px;
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            
            .li {
                width: 100%;
                @include vw('padding-top', 20, 375, 768, 375);
                @include vw('padding-bottom', 20, 375, 768, 375);
                @include vw('font-size', 14, 375, 768, 375);

                &:not(:first-child) {
                    border-top: 1px solid #dddddd;
                }
            }
            
            .parent {
                &:not(:last-child) {
                    border-bottom: 1px solid #dddddd;
                }
                .parent_name {
                    position: relative;
                    &::before {
                        content: "";
                        background-color: #999999;
                        @include vw('width', 12, 375, 768, 375);
                        @include vw('height', 2, 375, 768, 375);
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &::after {
                        content: "";
                        background-color: #999999;
                        @include vw('width', 2, 375, 768, 375);
                        @include vw('height', 12, 375, 768, 375);
                        position: absolute;
                        @include vw('right', 5.5, 375, 768, 375);
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &.open {
                        &::after {
                            display: none;
                        }
                    }
                }

                .child {
                    display: none;
                    .child_name {
                        &:first-child {
                            border-top: 1px solid #dddddd;
                        }
                        @include vw('padding-left', 15, 375, 768, 375);
                        position: relative;

                        &::before {
                            content: "";
                            background-image: url('/assets/img/img_pc/header_and_footer/child-arrow.png');
                            background-size: cover;
                            @include vw('width', 4, 375, 768, 375);
                            @include vw('height', 8, 375, 768, 375);
                            left: 0;
                            position: absolute;
                        }

                    }
                }

            }
        }
    }

    .others_and_copyright {
        margin: auto;
        max-width: 1280px;
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
        @include vw('padding-top', 30, 1366, 1366, 1023);
        @include vw('padding-bottom', 30, 1366, 1366, 1023);
        display: flex;
        justify-content: space-between;
        @include SP {
            flex-direction: column;
            @include vw('row-gap', 40, 375, 768, 375);
            padding-left: 20px;
            padding-right: 20px;
            @include vw('padding-top', 40, 375, 768, 375);
            @include vw('padding-bottom', 40, 375, 768, 375);
        }
        .others {
            display: flex;
            @include vw('column-gap', 40, 1366, 1366, 1023);
            @include SP {
                flex-wrap: wrap;
                @include vw('row-gap', 20, 375, 768, 375);
            }

            li {
                a {
                    @include vw('font-size', 12, 1366, 1366, 1023);
                    color: #333333;

                    @include SP {
                        @include vw('font-size', 12, 375, 768, 375);
                        line-height: calc(20em / 12);
                    }
                }
            }
        }

        .copyright {
            @include vw('font-size', 12, 1366, 1366, 1023);
            color: #333333;
            @include SP {
                @include vw('font-size', 12, 375, 768, 375);
            }
        }
    }

    .scroll-pc {
        max-width: 1280px;
        padding-right: 40px;
        margin: auto;
        position: absolute;
        @include vw('top', -25, 1366, 1366, 1023);
        right: 0;

        .scroll_container {
            @include vw('width', 50, 1366, 1366, 1023);
            cursor: pointer;

            .hover {
                display: none;
            }

            &:hover {
                
                .normal {
                    display: none;
                }

                .hover {
                    display: initial;
                }
            }
        }
    }

    .scroll-sp {
        width: 100%;
        @include vw('height', 63, 375, 768, 375);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #f0f0f0;

        img {
            @include vw('width', 16, 375, 768, 375);
        }
    }
}